//$heading-font: 'Pacifico', cursive;
//$title-font: 'Montserrat', sans-serif;
//$heading-font: 'Pacifico', cursive;
//$title-font: 'Montserrat', sans-serif;

$primary: #f1c40f;
$secondary: #e67e22;

$black: black;
$white: #ecf0f1;