@import "../../../../style/variable";

.contact-list {
  margin: 0;
  padding: 1rem 1rem 1rem 0.5rem;
}

.card {
  margin: 0 0 1rem 0;
  .card-divider {
    //font-family: $title-font;
    font-size: 1.25em;
    font-weight: bold;
    color: $black;
    align-items: center;
  }
  &.small {
    .card-section {
      display: none;
    }
  }
}